[submodule "source"]
	path = source
	url = https://github.com/whu-pzhang/pzhangnotes.info.posts.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/whu-pzhang/hexo-theme-next.git
	branch = pzhangnotes
